{% extends 'base.html' %}
{% load static %}



{% block content %}


    <!--====== CASE DETAILS PART START ======-->
   
    <section class="case-details-area pt-130 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="case-thumb">
                        <img src="assets/images/case-details-thumb.jpg" alt="case">
                    </div>
                    <div class="case-list d-block d-sm-flex justify-content-between">
                        <div class="item mt-35">
                            <span>Clients Name</span>
                            <h3 class="title">Sikian KD. Molin</h3>
                        </div>
                        <div class="item mt-35">
                            <span>Case Type</span>
                            <h3 class="title">Product Designn</h3>
                        </div>
                        <div class="item mt-35">
                            <span>Case Date</span>
                            <h3 class="title">25 Dec 2019</h3>
                        </div>
                        <div class="item mt-35">
                            <span>Country</span>
                            <h3 class="title">New York</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="case-content mt-30">
                        <h3 class="title">Product Engioneering</h3>
                        <p>Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="case-content mt-30 pl-70">
                        <p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusant ium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor  sit amet, consectetur, adipisci velit, sed quia non numquam eius mpora incidunt ut labore et dolore magnam aliquam</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="case-thumb mt-30">
                        <img src="assets/images/case-thumb-1.jpg" alt="case">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="case-thumb mt-30">
                        <img src="assets/images/case-thumb-2.jpg" alt="case">
                        <div class="play">
                            <a href="#"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-15">
                <div class="col-lg-5">
                    <div class="case-content mt-30">
                        <h3 class="title">Project Results</h3>
                        <p>Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="case-content mt-30 pl-70">
                        <p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusant ium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor  sit amet, consectetur, adipisci velit, sed quia non numquam eius mpora incidunt ut labore et dolore magnam aliquam</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="case-share d-block d-md-flex justify-content-between align-items-center">
                        <div class="case-tag">
                            <ul>
                                <li><span>Tag :  </span></li>
                                <li><a href="#">IT Solutions, </a></li>
                                <li><a href="#">Product Design,  </a></li>
                                <li><a href="#">UX/UI Strategy  </a></li>
                            </ul>
                        </div>
                        <div class="case-social">
                            <ul>
                                <li><span>Share Project</span></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <!--====== CASE DETAILS PART ENDS ======-->

    <!--====== REQUEST QUOTE PART START ======-->
   
    <section class="requst-quote-area services-quote bg_cover pt-115" style="background-image: url(assets/images/requst-quote-bg-2.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="requst-content text-center">
                        <span>Get A Quote</span>
                        <h2 class="title">Free Consultations</h2>
                        <a class="main-btn-2 main-btn" href="#">Requst A Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== REQUEST QUOTE PART ENDS ======-->

    <!--====== BRAND PART START ======-->
   
    <div class="brand-area about-brand pb-100 pt-100">
        <div class="container">
            <div class="row brand-active">
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-3.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-4.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-5.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-6.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <!--====== BRAND PART ENDS ======-->

    








{% endblock %}