{% extends 'base.html' %}
{% load static %}



{% block content %}


    <!--====== SHOP COLLECTION PART START ======-->
   
    <section class="shop-collection-area pt-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop-collection bg_cover d-flex align-items-center justify-content-end" style="background-image: url(assets/images/shop-thumb.jpg);">
                        <div class="shop-collection-content text-center">
                            <h2 class="title">New Arrival <br> Winter Collection </h2>
                            <a class="main-btn" href="#">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop-collection-input d-block d-sm-flex justify-content-between mt-80">
                        <form action="#">
                            <div class="input-box">
                                <input type="text" placeholder="Search Keywords">
                                <button type="button"><i class="far fa-search"></i></button>
                            </div>
                        </form>
                        <div class="shop-input">
                            <select>
                                <option value="1">Short by</option>
                                <option value="2">Short by</option>
                                <option value="3">Short by</option>
                                <option value="4">Short by</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <!--====== SHOP COLLECTION PART ENDS ======-->

    <!--====== SHOP PART START ======-->
   
    <section class="shop-area pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-5 col-sm-7 order-2 order-lg-1">
                    <div class="shop-sidebar mt-40">
                        <div class="shop-category">
                            <div class="shop-title">
                                <h3 class="title">Category</h3>
                            </div>
                            <div class="shop-category-list">
                                <ul>
                                    <li><a href="#">Accessories</a></li>
                                    <li><a href="#">Clothing</a></li>
                                    <li><a href="#">Decor</a></li>
                                    <li><a href="#">Hoodies</a></li>
                                    <li><a href="#">Music</a></li>
                                    <li><a href="#">T-shirts</a></li>
                                    <li><a href="#">Uncategorized</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="shop-tag mt-40">
                            <div class="shop-title">
                                <h3 class="title">Populer Tag</h3>
                            </div>
                            <div class="shop-tag-list">
                                <ul>
                                    <li><a href="#">Cleaning</a></li>
                                    <li><a href="#">Business</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Car</a></li>
                                    <li><a href="#">House</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Washing</a></li>
                                    <li><a href="#">Agency</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="shop-range mt-40">
                            <div class="shop-title">
                                <h3 class="title">Populer Tag</h3>
                            </div>
                            <div class="shop-range-item">
                                <input id="demo_0" type="text" class="js-range-slider" name="my_range" value="" />
                                <p>Price : <span>$29 - $300</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="shop-item mt-40">
                                <div class="shop-thumb">
                                    <img src="assets/images/shop-1.jpg" alt="">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-eye"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shop-content text-center">
                                    <a href="#">Black Headphone</a> <br>
                                    <span>$30.99</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="shop-item mt-40">
                                <div class="shop-thumb">
                                    <img src="assets/images/shop-2.jpg" alt="">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-eye"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shop-content text-center">
                                    <a href="#">Black Headphone</a> <br>
                                    <span>$30.99</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="shop-item mt-40">
                                <div class="shop-thumb">
                                    <img src="assets/images/shop-3.jpg" alt="">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-eye"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shop-content text-center">
                                    <a href="#">Black Headphone</a> <br>
                                    <span>$30.99</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="shop-item mt-40">
                                <div class="shop-thumb">
                                    <img src="assets/images/shop-4.jpg" alt="">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-eye"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shop-content text-center">
                                    <a href="#">Black Headphone</a> <br>
                                    <span>$30.99</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="shop-item mt-40">
                                <div class="shop-thumb">
                                    <img src="assets/images/shop-5.jpg" alt="">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-eye"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shop-content text-center">
                                    <a href="#">Black Headphone</a> <br>
                                    <span>$30.99</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg4 col-md-4 col-sm-6">
                            <div class="shop-item mt-40">
                                <div class="shop-thumb">
                                    <img src="assets/images/shop-6.jpg" alt="">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-eye"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shop-content text-center">
                                    <a href="#">Black Headphone</a> <br>
                                    <span>$30.99</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="shop-item mt-40">
                                <div class="shop-thumb">
                                    <img src="assets/images/shop-7.jpg" alt="">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-eye"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shop-content text-center">
                                    <a href="#">Black Headphone</a> <br>
                                    <span>$30.99</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="shop-item mt-40">
                                <div class="shop-thumb">
                                    <img src="assets/images/shop-8.jpg" alt="">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-eye"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shop-content text-center">
                                    <a href="#">Black Headphone</a> <br>
                                    <span>$30.99</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="shop-item mt-40">
                                <div class="shop-thumb">
                                    <img src="assets/images/shop-9.jpg" alt="">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fal fa-eye"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shop-content text-center">
                                    <a href="#">Black Headphone</a> <br>
                                    <span>$30.99</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination-area pagination-area-2 mt-55 d-flex justify-content-center">
                                <nav aria-label="Page navigation ">
                                  <ul class="pagination">
                                    <li class="page-item">
                                      <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true"><i class="fal fa-angle-left"></i></span>
                                      </a>
                                    </li>
                                    <li class="page-item"><a class="page-link active" href="#">01</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                    <li class="page-item">
                                      <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true"><i class="fal fa-angle-right"></i></span>
                                      </a>
                                    </li>
                                  </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <!--====== SHOP PART ENDS ======-->

    <!--====== REQUEST QUOTE PART START ======-->
   
    <section class="requst-quote-area services-quote bg_cover pt-115" style="background-image: url(assets/images/requst-quote-bg-2.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="requst-content text-center">
                        <span>Get A Quote</span>
                        <h2 class="title">Free Consultations</h2>
                        <a class="main-btn-2 main-btn" href="#">Requst A Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== REQUEST QUOTE PART ENDS ======-->

    <!--====== BRAND PART START ======-->
   
    <div class="brand-area about-brand pb-100 pt-100">
        <div class="container">
            <div class="row brand-active">
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-3.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-4.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-5.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-6.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <!--====== BRAND PART ENDS ======-->

    








{% endblock %}