{% extends 'base.html' %}
{% load static %}



{% block content %}


    <!--====== PROJECT PART START ======-->

    <section class="project-case-area pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="assets/images/project/project-3.jpg" alt="">
                            <i class="fal fa-stars"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="assets/images/project-shadow.png" alt="">
                            <h4 class="title">Events IT Solutions</h4>
                            <span>Important Of IT Services In Business</span>
                            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how</p>
                            <a href="#">View Details <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="assets/images/project/project-4.jpg" alt="">
                            <i class="fal fa-stars"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="assets/images/project-shadow.png" alt="">
                            <h4 class="title">Cyber Security</h4>
                            <span>Important Of IT Services In Business</span>
                            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how</p>
                            <a href="#">View Details <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="assets/images/project/project-5.jpg" alt="">
                            <i class="fal fa-stars"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="assets/images/project-shadow.png" alt="">
                            <h4 class="title">Product Design</h4>
                            <span>Important Of IT Services In Business</span>
                            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how</p>
                            <a href="#">View Details <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== PROJECT PART START ======-->

    <!--====== PROJECT PART START ======-->

    <section class="project-area project-4-area">
        <div class="container">
            <div class="row justify-content-center justify-content-md-left">
                <div class="col-lg-6 col-sm-9">
                    <div class="project-item mt-30">
                        <div class="project-thumb">
                            <img src="assets/images/project/project-1.jpg" alt="Project">
                        </div>
                        <div class="project-content  text-center">
                            <h4 class="title">Events IT Solutions</h4>
                            <span>Important Of IT Services In Business</span>
                            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone</p>
                            <a href="case-details.html">View Details <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-9">
                    <div class="project-item mt-30">
                        <div class="project-thumb">
                            <img src="assets/images/project/project-2.jpg" alt="Project">
                        </div>
                        <div class="project-content  text-center">
                            <h4 class="title">Product Marketing</h4>
                            <span>Important Of IT Services In Business</span>
                            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone</p>
                            <a href="case-details.html">View Details <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== PROJECT PART ENDS ======-->
                                                  
    <!--====== REQUEST QUOTE PART START ======-->
   
    <section class="requst-quote-area services-quote bg_cover pt-115" style="background-image: url(assets/images/requst-quote-bg-2.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="requst-content text-center">
                        <span>Get A Quote</span>
                        <h2 class="title">Free Consultations</h2>
                        <a class="main-btn-2 main-btn" href="#">Requst A Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== REQUEST QUOTE PART ENDS ======-->

    <!--====== BRAND PART START ======-->
   
    <div class="brand-area about-brand pb-100 pt-100">
        <div class="container">
            <div class="row brand-active">
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-3.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-4.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-5.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-6.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="assets/images/barand-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <!--====== BRAND PART ENDS ======-->

    










{% endblock %}